{% extends 'layouts/base.html' %}
{% block title %}About us | fonoCore{% endblock %}
{% block content %}
    <h1>About us</h1>
    <p>Non repellendus libero eos repellendus molestiae qui distinctio expedita. Ad assumenda numquam non reprehenderit veritatis ea temporibus ratione ea temporibus sunt ab internos recusandae hic tempore vero. Ut itaque magni ut quibusdam quisquam ea ratione quia id nihil dolor vel laboriosam officiis et sunt repudiandae. </p><p>Et omnis omnis cum rerum doloremque qui sint assumenda? A dolor sapiente aut velit explicabo et dolores consequatur et numquam doloribus vel adipisci voluptatum non ipsam quis. Ut repudiandae delectus et eaque mollitia est consectetur molestiae sit sapiente necessitatibus et dolorem unde a ipsum voluptas. </p>

    {% endblock content %}
